@import "tailwindcss";


/* @font-face {
    font-family: "Buenard";
    src: url("/fonts/Buenard/Buenard-VariableFont_wghtt.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: "Buenard";
    src: url("/fonts/static/Buenard/Buenard-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Buenard";
    src: url("/fonts/static/Buenard/Buenard-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Buenard";
    src: url("/fonts/static/Buenard/Buenard-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Buenard";
    src: url("/fonts/static/Buenard/Buenard-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "CrimsonPro";
  src: url("fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: oklch(26.6% 0.065 152.934) ;
}

.myFont {
  font-family: "CrimsonPro", "serif";
}

.bg {
  background-color: #788475;
}

.bg-egg{
  background-color: #453643;
}

.bg-egg:hover{
  background-color: #28112b;
}